.dashboard.l-container-full-screen {
    background-image: url("../../images/library.jpg");
    background-size: cover;
    min-height: 100vh;

    .l-container-full-screen.filter-white {
        padding-top: 150px;
        min-height: 100vh;
    }

    .l-container-1080 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 50px;

        .top-dash {
            display: flex;
            width: 100%;
            margin-bottom: 50px;
        }
    }
}

.thoughts-list {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    .thoughts-list-title {
        width: 100%;
        text-align: center;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: 20px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .thought-card {
        background-color: #0392cf;
        color: white;
        padding: 20px;
        flex-basis: 100%;
        border-radius: 5px;

        .card-title {
            font-size: 1.4rem;
            font-weight: 500;
            border-bottom: 2px solid white;
            margin-bottom: 20px;
            padding-bottom: 5px;
            text-align: center;
        }

        .card-author,
        .card-date {
            margin-left: 20px;
        }
    }
}

.notifications {
    background-color: rgba(255, 255, 255, 0.9);
    width: 70%;
    margin-right: 50px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    .notifications-title {
        width: 100%;
        text-align: center;
    }

    .notifications-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 200px;
        overflow: auto;
        margin-bottom: 30px;

        &::-webkit-scrollbar {
            width: 12px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: rgba(85, 85, 85, 0.74);
        }

        .notification {
            display: flex;
            align-items: center;
            width: 90%;
            margin-top: 10px;
            margin-left: 50px;
            margin-right: 40px;

            .notification-user {
                font-weight: 900;
            }

            .notification-date {
                color: #0392cf;
                font-weight: 300;
            }
        }
    }
}

.user-info {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .create-btn {
        padding: 10px;
        max-width: 90%;
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, 0.637);
        font-size: 1rem;
        transition: all 0.3s;
        color: rgba(0, 0, 0, 0.726);
        margin-bottom: 40px;
        margin-top: 30px;

        &:hover {
            border-color: #0392cf;
            cursor: pointer;
            background-color: #0392cf0e;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }
}

@media only screen and (max-width: 800px) {
    .dashboard.l-container-full-screen
        .l-container-full-screen.filter-white
        .top-dash {
        flex-direction: column-reverse;
        .notifications {
            width: 100%;
        }
        .user-info {
            width: 100%;
            margin-bottom: 50px;
        }
    }
}
